@font-face {
  font-family: Mitr-ExtraLight;
  src: url('../fonts/Mitr-ExtraLight.ttf')  format('truetype');
  font-family: Mitr-Light;
  src: url('../fonts/Mitr-Light.ttf')  format('truetype');
}

a {
  text-decoration: none;
}

.upper_header {
  background-color: rgb(47, 45, 47);
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 30px;
  padding: 0px;
}

.upper_header_text {
  position: relative;
  left: 21%;
  top: 29%;
  font-family: Mitr-ExtraLight;
  color: rgb(234, 234, 234);
  font-size: 12px;
}

.upper_header_nav {
  position: absolute;
  left: 63%;
  top: 4px;
  display: inline;
  float: left;
}

.upper_header_nav_item {
  color: rgb(234, 234, 234);
  float: left;
  font-family: Mitr-ExtraLight;
  display: block;
  padding: 4px;
  font-size: 12px;
}

.lower_header {
  height: 111px;
}

.lower_header_logo {
  position: absolute;
  left: 21%;
  top: 59px;
}

.lower_header_nav {
  position: absolute;
  left: 35%;
  top: 74px;
  display: inline;
  float: left;
}

.lower_header_nav_item {
  color: rgb(47, 45, 47);
  float: right;
  font-family: Mitr-Light;
  display: block;
  padding-left: 20px;
  font-size: 18px;
}












.carousel_image {
  height: 743px;
}

.carousel_box {
  position: absolute;
  left: 1035px;
  top: 152px;
  height: 717px;
  width: 500px;
}

.carousel_box_header_small {
  font-size: 47.402px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  -webkit-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  -ms-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  position: absolute;
  left: -100px;
  top: 75px;
  z-index: 300;
}

.carousel_box_header_big {
  font-size: 47.402px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  -webkit-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  -ms-transform: matrix( 0.3995567867036,0,0,0.39999680760602,0,0);
  position: absolute;
  left: -178px;
  top: 65px;
  z-index: 300;
}

.carousel_box_list {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  position: absolute;
  left: 40px;
  top: 206px;
  list-style-type: circle;
  width: 272px;
}

.carousel_box_list_item {
  margin-bottom: 2px;
  padding: 0;
}

.carousel_box_price {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  position: absolute;
  left: 27px;
  top: 356px;
}

