html, body {
  overflow-x: hidden;
} 

@font-face {
  font-family: Mitr-ExtraLight;
  src: url('../fonts/Mitr-ExtraLight.ttf')  format('truetype');
}

@font-face { 
  font-family: Mitr-Medium;
  src: url('../fonts/Mitr-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: Mitr-ExtraLight;
  src: url('../fonts/Mitr-ExtraLight.ttf')  format('truetype');
}

@font-face {
  font-family: Mitr-Light;
  src: url('../fonts/Mitr-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Mitr-Regular;
  src: url('../fonts/Mitr-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: Gotham Pro;
  src: url('../fonts/GOTHAMPROLIGHT_0.TTF')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url('../fonts/OPENSANS-REGULAR.TTF')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url('../fonts/OPENSANS-BOLD.TTF')  format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url('../fonts/OPENSANS-REGULAR.TTF')  format('truetype');
  font-weight: 600;
  font-style: normal;
}



a, a:visited {
  color: inherit;
  text-decoration: none; 
}

.upper_header {
  background-color: #2f2d2f;
  font-weight: 100;
  padding: 5px 0;
}

.upper_header_item_container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  display:flex;
  align-items: center;
  height: 24px;
  width: 1100px;
}

.upper_header_text {
  width: 45%;
  font-family: "Mitr-ExtraLight";
  color: white;
  font-size: 12px;
  font-weight: 200;
}

.upper_header_nav {
  width: 55%;
  float: right;
}

.upper_header_nav li {
  color: rgb(234, 234, 234);
  float: right;
  font-family: Mitr-ExtraLight;
  display: block;
  padding: 4px;
  font-size: 12px;
  font-weight: 300;
}

.lower_header {
  padding-top: 10px;
  margin-bottom: 10px;
  height: 91px;
}





.lower_header_item_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.617924em;
  box-sizing: content-box;
  height: 91px;
}

.lower_header_nav {
  flex-direction: row;
  display: inline-flex;
}

.lower_header_nav_item {
  display: inline;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-right: 1px solid #2e2c2e;
 }

.lower_header_logo {
  padding-left: 0px;
}

.lower_header_nav_text {
  color: rgb(47, 45, 47);
  font-family: Mitr-Light;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 22px;
  display: table-cell;
  letter-spacing: -1px;
  vertical-align: middle;
  height: 50px;
  display: table-cell;
}

.lower_header_user {
  padding-left: 20px;
}

.lower_header_social_media {
  padding-left: 24px;
}

.lower_header_img_item {
  display: table-cell;
  padding-left: 7px;
  padding-top: 31px;
  vertical-align: middle;
  text-align: center;
}




.carousel_section {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  left: 0;
  height: 740px;
}

.carousel_image {
  height: 740px;
  background-image: url('../img/bg1920x742.png');
}

.outer_carousel_box {
  width: 1040px;
  height: 740px;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.carousel_box {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 620px;
  width: 440px;
  background-image: url('../img/InmotionLively.png');
  background-size: cover;
  padding: 60px 0 20px 40px;
}




.carousel_box_header_small {
  display: block;
  margin-bottom: 20px;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  transition: none;
  line-height: 21px;
  border-width: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 19px;
}

.carousel_box_header_big {
  display: block;
  margin-bottom: 20px;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  transition: none;
  line-height: 30px;
  border-width: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 24px;
}

.carousel_box_list {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  list-style-type: disc;
  margin: 0 0 16px 22px;
  padding: 0;
}

.carousel_box_list_item {
  margin-bottom: 2px;
  padding: 0;
  font-size: 15px;
  line-height: 17px;
}

.carousel_box_price {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 19px;
  margin-top: 15px;
}

.carousel_box_shipping {
  font-family: "Open Sans", sans-serif;
  display: block;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 20px 0;
}

.carousel_box_buy_button {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-align: center;
  width: 149px;
  height: 32px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(211, 48, 70);
  font-size: 18px;
}

.carousel_box_buy_button_text {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 149px;
  height: 32px;
}




.carousel_slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 5px;
  background: rgba(32,32,32,.75);
  color: #fff;
  text-align: center;
  height: 35px;
}

.carousel_slider_inner_container {
  display: inline-block;
  position: relative;
  max-width: 1040px;
  width: 100%;
  height: 32px;
}

.carousel_slider_list {
  display: inline-block;
  margin: 0 20px 0 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.carousel_slider_item {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  font-family: Mitr-ExtraLight;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}

.carousel_slider_navigation_container {
  height: 16px;
  margin-top: 10px;
  font-size: 15.7px;
}

.carousel_slider_navigation {
  position: absolute;
  width: auto;
  padding: 0;
  font-weight: bold;
}

.carousel_slider_previous {
  right: 36%;
  border-radius: 3px 0 0 3px;
}

.carousel_slider_next {
  right: 8%;
  border-radius: 3px 0 0 3px;
}

.carousel_slider_number {
  position: absolute;
  top: 9.5px;
  right: 21%;
}





.category_section {
  max-width: 1070px;
  height: 707px;
  margin: auto;
  padding: 35px 15px 0 15px;
}

.category_section_header {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 7px;
  margin-top: -5px;
  font-family: "Mitr-Regular";
  font-size: 24px;
  color: #2f2d2f;
}

.category_section_item_container {
  box-sizing: border-box;
  padding: 0px 15px 0 15px;
  max-width: 1070px;
  height: 702px;
  margin: auto;
  color: #fff;
}

.category_section_item_list {
  margin: 0;
  position: relative;
  margin: 24px -1px;
}

.category_image_item_image {
  width: 520px;
  height: 320px;
}

.category_section_item_left {
  float: left;
  text-align: center;
  position: relative;
  border-top: 1px solid #fff;
  width: 520px;
  height: 320px;
  margin-right: 0;
  box-sizing: border-box;
}

.category_section_item_right {
  float: left;
  text-align: center;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  width: 520px;
  height: 320px;
  margin: 0;
  box-sizing: border-box;
}

.category_section_item_text_container {
  display: block;
  width: 478px;
  height: 277px;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  margin: 20px;
}

.category_section_item_header {
  margin: 88px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 48px;
  height: 116px;
  width: 100%;
}

.category_section_item_button {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
  padding: 11px 49px;
  letter-spacing: 1px;
  margin-bottom: 21px;
}




.best_selling_section_container {
  padding-top: 35px;
  height: 850px;
}

.best_selling_section_header {
  text-align: center;
  font-family: "Mitr-Medium";
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 18px;
  margin: -5px auto 0 auto;
  max-width: 522px;
}

.best_selling_carousel_track {
  display: inline-flex;
  height: 100%;
  width: 1108px;
  transition: transform 0.2s ease-in-out;
  margin-left: 408px;
  margin-top: 77px;
}

.best_selling_carousel_left {
  margin-top: 308px;
  margin-right: 60px;
  width: 65px;
  height: 86px;
}

.best_selling_carousel_right {
  margin-top: 308px;
  margin-left: 30px;
  width: 65px;
  height: 86px;
}

.best_selling_carousel_card {
  width: 264px;
  height: 570px;
  border: 1px solid #e4e4e4;
  flex-shrink: 0;
  margin-right: 30px;
  background-color: #fff;
}

.best_selling_carousel_card_name {
  width: 238px;
  height: 60px;
  background-color: #e4e4e4;
  margin: 14px;
  padding-top: 13px;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  color: #2f2d2f;
  text-align: center;
  text-transform: uppercase;
}

.best_selling_carousel_card_img {
  display: block;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin: 13px;
  height: 238px;
}

.best_selling_carousel_card_price {
  width: 238px;
  height: 60px;
  background-color: #e4e4e4;
  margin: 0px 14px;
  padding-top: 13px;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #2f2d2f;
  text-align: center;
  text-transform: uppercase;
}

.best_selling_carousel_card_buy_container {
  width: 238px;
  height: 119px;
  background-color: #e4e4e4;
  margin: 13px;
}

.best_selling_carousel_card_buy_container_stars {
  color: #f3203b;
  margin-top: 20px;
  display: inline-flex;
  padding: 0 43px 0 43px;
  align-items: center;
  height: 24px;
  width: 151px;
}

.best_selling_carousel_card_buy_container_stars li {
  float: left;
  font-size: 30px;
}

.best_selling_carousel_card_buy_container_stars li:not(:last-child) {
  margin-right: 4px;
}

.best_selling_carousel_card_buy_container_stars li:first-child {
  margin-left: 6px;
}

.best_selling_carousel_card_buy_button, .best_selling_carousel_card_buy_button:visited {
  display: block;
  width: 37px;
  background-color: #f3203b;
  font-family: "Mitr-ExtraLight";
  font-size: 18px;
  color: #fff;
  padding: 8px 57px 8px 57px;
  margin: 20px 42px 20px 42px;
}





.banner-1 {
  width: 1920px;
  height: 630px;
  background-image: url("../img/backgrbanner1-1920.png");
}

.banner-1 h2 {
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  padding-top: 48px;
  padding-left: 467px;
}

.banner-1 p {
  width: 570px;
  font-family: "Gotham Pro";
  line-height: 22px;
  font-weight: 300; 
  font-size: 18px;
  color: #fff;
  padding-top: 34px;
  padding-left: 391px;
}





.bar {
  width: 1920px;
  height: 110px;
  position: relative;
  box-sizing: border-box;
  background-color: #f3203b;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.bar p {
  padding-top: 36px;
  padding-left: 420px;
  width: 1082px;
  text-transform: uppercase;
  text-align: center;
}




.banner-2 {
  padding-top: 39px;
  width: 1920px;
  height: 703px;
  background-image: url("../img/backgr.banner 2-1920.png");
}

.banner-2 li {
  height: 200px;
  width: 160px;
  padding-top: 15px;
  padding-left: 586px;
}

.banner-2 li div {
  height: 200px;
  width: 160px;
  font-family: "Mitr-Regular";
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.banner-2 p {
  position: relative;
  height: 86px;
  width: 160px;
  top: 92px;
}




.banner-3 {
  width: 1920px;
  height: 742px;
  background-image: url("../img/back_banner3.png");
}

.banner-3-text {
  position: relative;
  width: 500px;
  height: 762px;
  margin-left: 417px;
  bottom: 20px;
  color: #fff;
  text-align: center;
}

.banner-3-text h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 900;
  width: 429px;
  padding: 77px 36px 0 36px;
}

.banner-3-text p {
  font-family: "Gotham Pro";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  max-width: 475px;
  line-height: 24px;
  padding: 35px 26px 0 26px;
}





footer {
  width: 1920px;
  height: 344px;
  background-image: url("../img/footer.png");
  border-top: 3px solid #89c03c;
  color: #d6d6d6;
}

.footer_container {
  margin-left: auto;
  margin-right: auto;
  width: 1210px;
  height: 314px;
}

.footer_info {
  margin-left: 0px !important;
}

.footer_container div {
  display: inline-block;
  float: left;
  margin: 70px 0 0 42px;
  width: 270px;
}



.footer_container div p {
  font-family: "Mitr-Regular";
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d6d6d6;
}

.footer_container div ul {
  font-family: "Mitr-Regular";
  font-size: 12px;
  line-height: 15px;
  padding-top: 22px;
  padding-left: 22px;
}

.footer_exclusive input {
  margin-left: 1px;
  font-family: "Mitr-Light" !important;
  font-size: 12px !important;
  color: white;
}

.footer_exclusive input[type=text] {
  width: auto;
  padding: 6px 93px 9px 19px;
  border: 3px solid #d6d6d6;
  background-color: #292929;
  
}

.footer_exclusive * {
  display: block;
}

.footer_exclusive input[type=submit] {
  padding: 7px 111px 7px 110px;
  margin-top: 7px;
  border: 3px solid #d6d6d6;
  background-color: #d1253c;
}


.exclusive_text {
  padding: 16px 16px 16px 22px;
  font-family: Mitr-Light !important;
  font-size: 12px !important;
  width: 238px;
  border-bottom: 0px !important;
}

.footer_get_connected {
  height: 31px;
  width: 284px;
  margin-left: 0px !important;
  margin-top: 0px !important;
  display: block;
}

.footer_get_connected ul {
  display: inline;
  padding-left: 0px !important;
  height: 31px;
}

.footer_get_connected ul li {
  display: inline-block;
}

.footer_get_connected ul li:first-child {
  font-family: Mitr-Regular !important;
  font-size: 18px !important;
  width: 146px;
  padding-right: 31px;
}

.footer_payment {
  width: 352px;
  margin-left: 180px !important;
  margin-top: 0px !important;
}

.footer_sign_up_text {
  margin-left: 216px !important;
  margin-top: 15px !important;
  width: 237px; 
}

.footer_sign_up_text p {
  padding-left: 22px;
}

.footer_sign_up_text p {
  font-family: Mitr-ExtraLight !important;
  font-size: 12px !important;
  border-bottom: 0px !important;
}




.copyright {
  display: inline-block;
  width: 1920px;
  height: 30px;
  background-color: #000;
}

.copyright p {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #b9b9b9;
  font-family: Mitr-ExtraLight !important;
  font-size: 9px !important;
  width: 178px;
  height: 10px;
}